Repository penrose/penrose, pull requests merged in 2021-06, with the labels that each got.

#578 feat: rename statement mutation added to synthesizer
  packages/core/src/analysis/SubstanceAnalysis.ts
  packages/core/src/synthesis/Synthesizer.ts
  packages/synthesizer/__tests__/geo-settings.json
  packages/synthesizer/__tests__/geo-template.sub
  packages/synthesizer/__tests__/geometry.dsl
Labels: kind:program synthesis

#591 refactor: add determinism to synthesizer
  packages/core/src/synthesis/Synthesizer.test.ts
  packages/core/src/synthesis/Synthesizer.ts
Labels: kind:program synthesis

#598 fix(#597): invalid URL during docs deploy workflow
  .circleci/config.yml
Labels: kind:build

#603 feat: add arc command to path shape object, implement tick marks for triangle congruency
  packages/core/src/contrib/Functions.ts
  packages/core/src/engine/EngineUtils.ts
  packages/core/src/renderer/Path.ts
  packages/core/src/types/value.ts
  packages/synthesizer/__tests__/congruent.sub
  packages/synthesizer/__tests__/euclidean.sty
  packages/synthesizer/__tests__/geometry.dsl
Labels: domain:geometry
