Repository penrose/penrose, pull requests merged in 2021-01, with the labels that each got.

#438 Embeddable Penrose component
  examples/linear-algebra-domain/independent.sub
  examples/linear-algebra-domain/linear-algebra-paper-simple.sty
  examples/linear-algebra-domain/linear-algebra.dsl
  examples/set-theory-domain/venn.sty
  penrose-web/.eslintrc.js
  penrose-web/package-lock.json
  penrose-web/package.json
  penrose-web/public/index.html
  penrose-web/src/App.tsx
  penrose-web/src/engine/Autodiff.ts
  penrose-web/src/shapes/Label.tsx
  penrose-web/src/ui/Canvas.tsx
  penrose-web/src/ui/Embed.tsx
  penrose-web/src/ui/icons/Illuminati.tsx
  penrose-web/src/ui/icons/Logo.tsx
  penrose-web/src/ui/icons/Resample.tsx
  penrose-web/src/ui/styles.ts
  penrose-web/webpack.config.js
Labels: frontend, interface

#441 Porting the Domain parser and semantic checker
  penrose-web/package-lock.json
  penrose-web/package.json
  penrose-web/src/__tests__/env.json
  penrose-web/src/compiler/Domain.test.ts
  penrose-web/src/compiler/Domain.ts
  penrose-web/src/parser/Domain.ne
  penrose-web/src/parser/DomainParser.test.ts
  penrose-web/src/parser/DomainParser.ts
  penrose-web/src/parser/ParserUtil.ts
  penrose-web/src/parser/Style.ne
  penrose-web/src/parser/StyleParser.ts
  penrose-web/src/types/errors.d.ts
  penrose-web/src/types/types.d.ts
  penrose-web/src/utils/Error.ts
  src/Penrose/Element.hs
  src/Penrose/Substance.hs
Labels: domain, parser, port

#447 Porting the Substance parser and semantic checker
  penrose-web/package.json
  penrose-web/src/compiler/Domain.test.ts
  penrose-web/src/compiler/Domain.ts
  penrose-web/src/compiler/Substance.test.ts
  penrose-web/src/compiler/Substance.ts
  penrose-web/src/parser/Domain.ne
  penrose-web/src/parser/DomainParser.test.ts
  penrose-web/src/parser/DomainParser.ts
  penrose-web/src/parser/ParserUtil.ts
  penrose-web/src/parser/Style.ne
  penrose-web/src/parser/StyleParser.test.ts
  penrose-web/src/parser/StyleParser.ts
  penrose-web/src/parser/Substance.ne
  penrose-web/src/parser/SubstanceParser.test.ts
  penrose-web/src/parser/SubstanceParser.ts
  penrose-web/src/types/errors.d.ts
  penrose-web/src/types/types.d.ts
  penrose-web/src/utils/Error.ts
Labels: port, substance

#451 Add `roger` CLI
  cli/.eslintrc
  cli/README.md
  cli/src/commands/watch.ts
  penrose-web/README.md
  penrose-web/package.json
  penrose-web/roger/.editorconfig
  penrose-web/roger/.eslintignore
  penrose-web/roger/.eslintrc
  penrose-web/roger/.gitignore
  penrose-web/roger/README.md
  penrose-web/roger/bin/run
  penrose-web/roger/bin/run.cmd
  penrose-web/roger/package-lock.json
  penrose-web/roger/package.json
  penrose-web/roger/src/commands/watch.ts
  penrose-web/roger/src/index.ts
  penrose-web/roger/tsconfig.json
  penrose-web/src/App.tsx
  penrose-web/src/Protocol.tsx
  penrose-web/src/inspector/views/LogView.tsx
  penrose-web/src/module.tsx
  penrose-web/src/ui/ButtonBar.tsx
  penrose-web/src/ui/FileSocket.ts
Labels: interface
